@model mvcfirst.Models.first

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>first</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.fname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fname)
            @Html.ValidationMessageFor(model => model.fname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.lname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.lname)
            @Html.ValidationMessageFor(model => model.lname)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "getdata")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
